/* ========== General Style ========== */
*,
::after,
::before {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}
img {
    display: block;
}
html,
body {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: var(--light-0);
}

/* ========== Fixed Buttons (Loader) ========== */
/* Loader */
/* #loader {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#loader:before {
 content: "";
  position: fixed;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  border: 5rem solid var(--yellow-2);
  border-top-color: var(--green-2);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
} */

/* Loader Text */
/* #loader h3{
   margin-top: 18rem;
   font-weight: bold;
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing:1px;
   color:var(--green-2);
} */

/* Back to the top button */
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    transition: 0.5s;
    z-index: 100000;
}

section {
    padding: 6rem 0;
    overflow-x: hidden;
}
header {
    overflow-x: hidden;
}
footer{
   padding:5rem 0 1.5rem 0;
    overflow-x: hidden;
}
/* My Buttons */
.button-1 {
 border:2.5px solid var(--green-2);
 padding: .3rem .85rem;
 font-size: 1.4rem;
 color: #f5f5f5;
 font-weight: bold;
 background-color: var(--green-2);
 transition:500ms;
}
.button-1:hover {
color:var(--yellow-2);
border-color: var(--yellow-2);
background: inherit;
}

/* ========== General Style Ends========== */

/* ========== Custom Variables ========== */
/* Color  */
:root {
    --green-2: #245140;
    --green-1: #5a947c;
    --green-0: #629584;

    --yellow-2: #d58943;
    --yellow-1: #ecbe90;
    --yellow-0: #f8e1c1;

    --grey-2: #6e827a;
    --grey-1: #87a59a;
    --grey-0: #adbbb5;

    --light-1: #bdd1ca;
    --light-0: #f6f7ef;

    /* Font Family */
    --popins: "Poppins", sans-serif;
}

/* ========== Custom Variables Ends========== */

/* ========== Header Section ========== */
/* Navigation */
.header .navbar-area {
    background: #ffffff;
    padding: 0.5rem 0;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}
.header .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}
.header .site-navbar img {
    max-width: 100%;
}
.header .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .site-navbar ul li a {
    color: #212121;
    padding: 1rem;
    position: relative;
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--popins);
    letter-spacing: 0.5px;
    transition: 500ms;
}
.header .site-navbar ul li a:hover {
    color: var(--yellow-2);
}

.header .site-navbar ul li a:before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: var(--yellow-2);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
}

header .site-navbar ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Nav-toggler  */
.nav-toggler {
    border: 3px solid var(--yellow-2);
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    height: 4rem;
    display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: var(--yellow-2);
    display: block;
    transition: 0.3s;
}
.nav-toggler span:before {
    content: "";
    transform: translateY(-9px);
}
.nav-toggler span:after {
    content: "";
    transform: translateY(6px);
}
.nav-toggler.toggler-open span {
    background-color: transparent;
}
.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}
/* footer socials */
.header-socials {
    display: none;
}

/* Media query for header*/
@media screen and (max-width: 783px) {

.header .navbar-area {
   padding: .2rem 0rem;
}
    .nav-toggler {
        display: block;
    }
    .site-navbar {
        height: 6rem;
    }
    .header .site-navbar ul {
        position: fixed;
        width: 50%;
        left: -100%;
        top: 6.5rem;
        display: block;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        height: 100vh;
        z-index: 10000;
        padding-top: 2rem;
    }

    .header .site-navbar ul li {
        width: 100%;
        margin: 1rem 0;
    }

    .header .site-navbar ul.open {
        left: 0;
    }

    body.hide {
        overflow-y: hidden;
    }
    .header-socials {
        display: block;
        /* align-items: center; */
        position: relative;
    margin: 50% 0 0 1rem;
    }
    .header-socials a{
      margin: 0.5rem;
    }

    .header .site-navbar img {
    max-width: 90%;
}

}
/* ==========  Header Section Ends========== */


/* ========== Hero (Intro Section) ========== */

/* #hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
      -15deg,
      #f5f5f5 50%,
      rgba(33, 150, 243, 0.8) 50%
    ),
    url(../img/hero-bg.jpg) no-repeat;
  background-size: cover;
} */

#hero .container {
    padding-top: 83px;
}
#hero h1 {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.4;
    color: #212121;
    /* letter-spacing: 0.5px; */
}
#hero h1 span {
    color: #ed553b;
}

#hero h2 {
    font-family: "Poppins", sans-serif;
    margin: 10px 0 0 0;
    font-size: 26px;
    color: #212121;
    opacity: 0.7;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.2px;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #f8f9fa;
    border: 2px solid #f8f9fa;
    background: #2196f3;
}

#hero .btn-get-started:hover {
    background: inherit;
    color: #2196f3;
    border: 2px solid #2196f3;
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
        background: -webkit-linear-gradient(
                85deg,
                #f5f5f5 50%,
                rgba(33, 150, 243, 0.8) 50%
            ),
            url(../img/hero-bg.jpg) no-repeat;
        background-size: cover;
    }

    #hero .container {
        padding-top: 10px;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 80%;
    }
    #hero h1 {
        /* font-size: ; */
    }
}
@media (max-width: 768px) {
    #hero .container {
        padding-top: 20px;
    }
    #hero h1 {
        margin-top: 30px;
        font-size: 30px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 600px) {
    #hero .hero-img img {
        width: 80%;
    }
    #hero .container {
        padding-top: 40px;
    }

    #hero h1 {
        padding-top: 20px;
        margin-top: 50px;
        font-size: 30px;
        line-height: 36px;
    }
}
/* ========== Hero (Intro Section) ========== */

/* ========== Footer Section ========== */
#footer {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23f8e1c1' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:#839192;
    font-size: 1.4rem;
   }

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 3rem;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--yellow-2);
    font-family: var(--poppins);
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .footer-info img {
   border-radius: 50%;
}

#footer .footer-top h4 {
    font-weight: bold;
    color: #f5f5f5;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #3c4133;
}

#footer .footer-top h4::after {
    background:var(--yellow-2);
    width: 6rem;
}

#footer .footer-top .footer-links {
    margin-bottom: 3rem;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 0 0 1.5rem 0;
}

#footer .footer-top .footer-links ul a {
    transition: 0.3s;
    color:#839192;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--yellow-2);
}

#footer .footer-top .footer-contact {
    margin-bottom: 3rem;
}

#footer .footer-top .footer-contact p {
    line-height: 2.5rem;
}

#footer .copyright {
    text-align: center;
    padding-top: 2rem;
}

#footer .credits {
    padding-top: .5rem;
    text-align: center;
    font-size: 1.2rem;
}
#footer .credits a{
    color:#839192;
}
/* ========== Footer Section Ends ========== */
